$accent: #EDF7FA;
$default: #FFF;
$maincolor: #21243D;
$title: #000;
$bg: #000;


%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}



%heebo-400 {
  font-family: 'heebo-Regular', sans-serif;
  font-weight: 400;
}

%heebo-500 {
  font-family: 'heebo-Medium', sans-serif;
  font-weight: 500;
}

%heebo-700 {
  font-family: 'heebo-Bold', sans-serif;
  font-weight: 700;
}

%heebo-900 {
  font-family: 'heebo-Bold', sans-serif;
  font-weight: 900;
}