@import "_global/libs";
@import "_global/vars";
@import "_global/fonts";
@import "_global/reset";
@import "_global/global";

.header{
  background-color: #fff;
  height: 160px;
  text-align: center;
  padding: 30px 60px;
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
}

.main{
  text-align: center;
}

.footer{
  background-color: orange;
  height: 100px;
  text-align: center;
}

@import "_global/media";