@import "libs";
@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header{
  background-color: green;
  height: 100px;
  text-align: center;
}

.main{
  text-align: center;
}

.footer{
  background-color: orange;
  height: 100px;
  text-align: center;
}

@import "media";