@import "global/libs";
@import "global/vars";
@import "global/fonts";
@import "global/reset";
@import "global/global";

.header{
  background-color: green;
  height: 100px;
  text-align: center;
}

.main{
  text-align: center;
}

.footer{
  background-color: orange;
  height: 100px;
  text-align: center;
}

@import "global/media";