// Header start

.header {
  background-color: #fff;
  min-height: 160px;
  text-align: center;
  padding: 30px 60px;
  @extend %heebo-500;
  color: #000;
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: #000;
    font-size: 20px;
    @extend %heebo-500;
    line-height: normal;
    transition: all .3s;
    &:hover{
      color: $btn;
    }
  }
}

// Header end