.about {
  &__inner {
    display: flex;
    padding: 50px 0 71px;
  }
  &__info {
    width: 497px;
    padding-top: 20px;
  }
  &__title {
    font-size: 44px;
    @extend %heebo-700;
    line-height: 60px;
    color: $maincolor;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 38px;
  }
  &__btn {
    width: 208px;
    height: 47px;
    border: none;
    background-color: $btn;
    color: $default;
    font-size: 20px;
    @extend %heebo-500;
  }
  &__img {
    border-radius: 50%;
    margin-left: auto;
    width: 243px;
    height: 243px;
    box-shadow: -5px 13px 0px 0px #EDF7FA;
  }
}