.recent {
  background-color: $accent;
  &__inner {
    padding: 7px 0 32px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @extend %heebo-400;
    font-size: 22px;
    font-style: normal;
    line-height: 60px;
  }
  &__link {
    color: #00a8cc;
    text-align: right;
    @extend %heebo-400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__item {
    background-color: $default;
    padding: 24px;
    &-title {
      @extend %heebo-700;
      font-size: 26px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 25px;
    }
    &-info {
      @extend %heebo-400;
      font-size: 18px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 20px;
    }
    &-date {
      padding-right: 20px;
      border-right: 1px solid $maincolor;
    }
    &-tegs {
      padding-left: 20px;
    }
  }
}