<section class="recent">
  <div class="main-box">
    <div class="recent__inner">
      <h1 class="recent__title">Blog</h1>
      <div class="recent__info">
        <div class="recent__item">
          <a href="" class="recent__item-link">
            <h4 class="recent__item-title">UI Interactions of the week</h4>
          </a>
          
          <div class="recent__item-info">
            <span class="recent__item-date">15 Feb 2023</span>
            <span class="recent__item-tegs">Design, Pattern</span>
          </div>
          <p class="recent__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="recent__item">
          <a href="" class="recent__item-link">
            <h4 class="recent__item-title">UI Interactions of the week</h4>
          </a>
          <div class="recent__item-info">
            <span class="recent__item-date">15 Feb 2023</span>
            <span class="recent__item-tegs">Design, Pattern</span>
          </div>
          <p class="recent__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="recent__item">
          <a href="" class="recent__item-link">
            <h4 class="recent__item-title">UI Interactions of the week</h4>
          </a>
          <div class="recent__item-info">
            <span class="recent__item-date">15 Feb 2023</span>
            <span class="recent__item-tegs">Design, Pattern</span>
          </div>
          <p class="recent__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="recent__item">
          <a href="" class="recent__item-link">
            <h4 class="recent__item-title">UI Interactions of the week</h4>
          </a>
          <div class="recent__item-info">
            <span class="recent__item-date">15 Feb 2023</span>
            <span class="recent__item-tegs">Design, Pattern</span>
          </div>
          <p class="recent__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>