<section class="about">
  <div class="main-box">
    <div class="about__inner">
      <div class="about__info">
        <h1 class="about__title title">Hi, I am John,<br> Creative Technologist</h1>
        <p class="about__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <button class="about__btn">Download Resume</button>
      </div>
      <img class="about__img" src="images/myfoto.jpg" alt="worker">
    </div>
  </div>
</section>
