<section class="recent">
  <div class="main-box">
    <div class="recent__inner">
      <div class="recent__top">
        <h3 class="recent__title">Recent posts</h3>
        <a class="recent__link" href="">View all</a>
      </div>
      <div class="recent__info">
        <div class="recent__item">
          <h4 class="recent__item-title">Making a design system from scratch</h4>
          <div class="recent__item-info">
            <span class="recent__item-date">15 Feb 2023</span>
            <span class="recent__item-tegs">Design, Pattern</span>
          </div>
          <p class="recent__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="recent__item">
          <h4 class="recent__item-title">Creating pixel perfect icons in Figma</h4>
          <div class="recent__item-info">
            <span class="recent__item-date">15 Feb 2023</span>
            <span class="recent__item-tegs">Figma, Icon Design</span>
          </div>
          <p class="recent__item-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>