<section class="works">
  <div class="main-box">
    <div class="works__inner">
      <div class="works__top">
        <h3 class="works__title">Featured works</h3>
      </div>
      <div class="works__items">
        <div class="works__item">
          <img class="works__item-img" src="images/works/1.jpg" alt="">
          <div class="works__item-box">
            <h4 class="works__item-title"><a href="work-one.html" class="">Designing Dashboards</a></h4>
            <div class="works__item-info">
              <span class="works__item-date">2023</span>
              <span class="works__item-tegs">Dashboards</span>
            </div>
            <p class="works__item-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <div class="works__item">
          <img class="works__item-img" src="images/works/2.jpg" alt="">
          <div class="works__item-box">
            <h4 class="works__item-title"><a href="work-one.html" class="">Vibrant Portraits of 2020</a></h4>
            <div class="works__item-info">
              <span class="works__item-date">2020</span>
              <span class="works__item-tegs">Illustration</span>
            </div>
            <p class="works__item-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <div class="works__item">
          <img class="works__item-img" src="images/works/3.jpg" alt="">
          <div class="works__item-box">
            <h4 class="works__item-title"><a href="work-one.html" class="">36 Days of Malayalam type</a></h4>
            <div class="works__item-info">
              <span class="works__item-date">2018</span>
              <span class="works__item-tegs">Typography</span>
            </div>
            <p class="works__item-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>